<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plantilla con parametros en listas</title>
</head>
<body>
    <p>Plantilla con parametros en listas</p>
    <p> </p>
    <h1>lenguajes de programacion: {{lenguajes}}</h1>
    <ul>
        {%for leng in lenguajes%}  <!-- Aqui se estaría creando un for para recorrer toda la lista --> 
        <li>{{leng}}</li>          <!--de lenguajes -->   
        {%endfor%}
    </ul>
</body>
</html>                                                                                        
